<mat-grid-list cols="6" rowHeight="2:1">
  <mat-grid-tile *ngFor="let pokemon of pokemons">
    <img [src]=pokemon.imageURL>
    <span>{{pokemon.name}}</span>

<!--    <button   mat-raised-button color="warn">Add</button>-->
    <button (click)="remove(pokemon.name)" class="btn"  mat-raised-button color="warn">Remove</button>
<!--    <img [hidden]="hidden(pokemon.name)? 'hidden': ''" hidden=hidden class="pokeball" src="../../../assets/pokeball.png">-->
  </mat-grid-tile>

</mat-grid-list>
