mat-grid-tile {
  background: lightblue;
}

img {
  width: 50px;
}


.mat-grid-tile-content {

  display: flex;

  flex-direction: column!important;
}

button {
  display: block;
  flex-direction: column;
  background-color:red;
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px;
  position: relative;
  top: 20px;
  left: -20px;

}

.btn {

  top: 20px;
  left: 20px;
}
