<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Pokemon trainer:</mat-label>
      <input 
      type="text"
      ngModel
      #username="ngModel"
      name="username" 
      matInput placeholder="username"
      id="username" 
      >
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>