<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button (click)="goToTrainerButton()" mat-menu-item>Trainer Page</button>
    <button (click)="goToCatalogueButton()" mat-menu-item>Catalogue Page</button>
    <button (click)="logoutButton()" mat-menu-item>Logout</button>
  </mat-menu>
<span class="example-spacer"></span>
  <span>Pokemon</span>
  <span class="example-spacer"></span>
<!--  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
<!--    <mat-icon>favorite</mat-icon>-->
<!--  </button>-->
<!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
<!--    <mat-icon>share</mat-icon>-->
<!--  </button>-->
  <mat-icon>account_circle</mat-icon>
  <span id="username">{{trainerName}} </span>

</mat-toolbar>
