
<mat-grid-list cols="6" rowHeight="2:1">
  <mat-grid-tile *ngFor="let pokemon of pokemons; index as indexOfelement;">
    <img [src]=pokemon.imageURL>
    <span>{{pokemon.name}}</span>
    <button (click)="add(pokemon.name)" class="btn <!--{{btnClasses}}-->"  mat-raised-button color="warn">Add</button>
    <img [hidden]="hidden(pokemon.name)? 'hidden': ''" hidden=hidden class="pokeball" src="../../../assets/pokeball.png">
  </mat-grid-tile>

</mat-grid-list>
