mat-grid-tile {
  background: lightblue;
}

img {
  width: 50px;
}


.mat-grid-tile-content {

  display: flex;

  flex-direction: column!important;
}

button {
  display: block;
  flex-direction: column;
  background-color: #071f6b;
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px;
  /*postion: relative;*/
  top: 20px;
  left: -20px;

}

.btn {
  /*postion: relative;*/
  top: 20px;
  left: 20px;
}

.hidden {
  visibility: hidden;
}

.pokeball {
  /*postion: absolute;*/
  left: -40px;
  top: -30px;
}
